
header{
    text-align:center;
    max-width: 400%;
    opacity:0.5;
}
#parrafo{
    transition: all 0.9 ease;
}
#parrafo:hover{
    transition: all 0.9 ease;
    transform: rotate(180deg);
}
body{
    background-image: linear-gradient(to top,beige,grey,pink);
}
h1{
    position:absolute;
    top: 60px;
    left: 500px;
    right: 50px;
    font-size: 50px;
    font-family:'Oleo Script Swash Caps' ;
}
h2{
    margin-left: 50px;
    font-family: cursive;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-block-start: 30px;
    margin-inline-start: 20px;
    background-color: rgb(219, 122, 175);
    padding-block-end: 30px;
}
.masajes{
    width: 17.75%;
    height: 19%; 
}
.velas{
    width: 15%;
    height: 25%;
}
 .pies{
    width: 17.75%;
    height: 20%;
}
.sahumerios{
    width: 17.75%;
    height: 20%;
}
.energias{
    width: 15.75%;
    height: 20%;
}
 .img-inicio{
text-align: center;
margin:auto;
padding: 50px;
background-color: grey;

}
nav{
    list-style-type: none;
   text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline;
    margin-left: 420px;
}

input{
    font-size: 20px;
    margin-left: 30px;
}
/* servicios */
.servicios{
     margin-top: 30px;
     margin-left: 20px;
     padding: 40px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-variant: small-caps;
     font-size: xx-large;
     background-color:grey;
     border-style: dotted;
}

/* contactos */
.contacto{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20px;
    background-color:grey;
    margin-top: 20px;
    margin-left: 10px;
    padding: 30px;
    border-style: dotted;
    

  }
  /* sobre nosotros */
  .inicios{
    background-color: rgb(219, 122, 175);
    position:initial;
    text-align: center;
    top: 60px;
    left: 50px;
    right: 50px;
    font-size: 50px;
    padding: 2%;
  }
  .historia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: grey;
    margin-left: 5px;
  }

/* pagina de turnos */
.turnos{
    background-color: rgb(219, 122, 175);
    position:initial;
    text-align: center;
    top: 20px;
    left: 30px;
    right: 30px;
    font-size: 30px;

}
.dias{
    font-size: x-large;
    position: absolute;
    margin-top: 200px;
    background-color: grey;
}
.agendar{
    text-align:center;
    margin-top: 400px;
    background-color: grey;
}
/* grid */
#grilla{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "parrafo parrafo parrafo"
    "imagenes imagenes imagenes"
    "footer footer footer"
    ;
    grid-template-rows:350px 100px 150px;
    grid-template-columns: repeat(3,425px);
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
#parrafo{
    grid-area: parrafo;
}
#imagenes{
    grid-area: imagenes;
}
footer{
    grid-area: footer;
}
/* grid turnos */
#grid{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "atencion atencion"
    "horarios horarios"
    "completar completar"
    "footer footer"
    ;
    grid-template-rows:80px 80px 50px px;
    grid-template-columns:repeat(2,660px) ;
}
nav{
    grid-area: nav;
}
#atencion{
    grid-area: atencion;
}
#horarios{
    grid-area: horarios;
}
#completar{
    grid-area: completar;
}
footer{
    grid-area: footer;
}